.table {
  table-layout: auto;
  width: 100%;
  border-collapse: separate;
  border-radius: 2px 2px 0px 0px;
  border-spacing: 0px;
}

.header-row {
  background-color: #e9e4e426;
}

.header-row th {
  padding: 10px;
}

.row td {
  padding: 10px;
  border-top: 2px solid rgb(179, 177, 177);
}
