:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.pagination-container {
  padding: 10px;
}

.pagination-block {
  border: 1px solid rgba(255, 255, 255, 0.647);;
  border-radius: 3px;
  padding: 4px;
  margin: 4px;
  cursor: pointer;
}
